@charset "UTF-8";
/* CSS Document */
/*detail*/
.top-search__box{
	padding-bottom: 20px;
}
.top-search__left{
	width:80%;
	float:left;
	box-sizing: border-box;
	font-size: 14px;
}
.top-search__right{
	width:15%;
	float:right;
	box-sizing: border-box;
	padding: 3px;
}
/*search*/
.search-action__box{
	width:100%;
}
.search-left{
	width:50%;
	float:left;
	box-sizing: border-box;
	font-size: 14px;
	padding: 10px 0;
}
.search-right{
	width:50%;
	float:right;
	box-sizing: border-box;
	padding: 15px 3px;
}
.follow-left{
	width:50%;
	float:left;
	box-sizing: border-box;
}
.follow-right{
	width:50%;
	float:right;
	box-sizing: border-box;
}
/*notice*/
.notice-left{
	width:50%;
	float:left;
	box-sizing: border-box;
	font-size: 14px;
	padding: 10px 0;
}
.notice-center{
	width:30%;
	float:right;
	box-sizing: border-box;
	padding: 15px 3px;
}
.notice-right{
	width:20%;
	float:right;
	box-sizing: border-box;
	padding: 15px 3px;
}
/*評価*/
.evaluation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.evaluation input[type='radio']{
  display: none;
}
.evaluation label{
  position: relative;
  padding: 10px 10px 0;
  color: gray;
  cursor: pointer;
  font-size: 50px;
}
.evaluation label .text{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  color: gray;
}
.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label{
  color: #ffcc00;
}